.home-page {
    display: block;
}

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 5rem 0;
}

.header h1 {
    font-size: 48px;
    margin: 0;
    font-family: "Geist Mono";
}

.home-page-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.file-upload-div {
    width: 70%;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem 0;
    gap: 3rem;
}

button {
    background-color: #24a0ed;
    color: white;
    padding: 0rem 1rem;
    border-radius: 0.5rem;
    border: #24a0ed solid 1px;
}

button:hover {
    animation: fadeIn 0.5s;
    opacity: 0.75;
    cursor: pointer;
}

p {
    font-size: 16px;
    font-family: "Geist Mono";
    line-height: 10px;
}

.scan-output {
    display: flex;
    border: 0.1px lightgray solid;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    color: gray;
}


.scan-output img {
    height: 90%;
    border-radius: 0.5rem;
}

.classify-button {
    padding-bottom: 2rem;
}

.black-text {
    color: black;
}

.output-text {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2.5rem 0;
}

@keyframes fadeIn {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0.75;
    }

}